body {
  font-family: "Outfit", sans-serif;
  text-align: center;
}
button {
  transition: 300ms all;
}
.homepage {
  min-width: 550px;
  max-width: 600px;
  margin: 0 auto;
  background: #ffff;
  border: 3px solid #2d5b61;
  border-radius: 20px;
  padding: 30px;
  margin-top: 30px;
}

.container2 {
  display: block;
  max-width: 600px;
  width: 200px;
  padding: 10 px;
  background: #ffff;
  border: 3px solid #2d5b61;
  border-radius: 20px;
  margin-top: 5px;
  color: #2d5b61;
}

.container2:hover {
  opacity: 70%;
}

.basic {
  color: #2d5b61;
}

.search-bar .search {
  width: 300px;
  position: relative;
  display: flex;
}
.search-bar .searchTerm {
  width: 100%;
  border: 3px solid #2d5b61;
  border-right: none;
  padding: 5px;
  border-radius: 20px 0 0 20px;
  outline: none;
  color: #9dbfaf;
}
.search-bar .searchTerm:focus {
  color: rgb(21, 53, 50);
}
.search-bar .searchButton {
  width: 40px;
  height: 50px;
  border: 3px solid #2d5b61;
  border-left: none;
  background: #fff;
  text-align: center;
  color: #2d5b61;
  border-radius: 0px 20px 20px 0px;
  cursor: pointer;
  font-size: 20px;
}

.current-temperature {
  font-size: 72px;
  text-align: left;
}

.measurementButton {
  position: relative;
  top: 23px;
  right: 38px;
  padding: 10 px;
  border: none;
  margin-top: 20px;
  color: #67b7c2;
  text-decoration: none;
  cursor: default;
}

.measurementButton:hover {
  opacity: 100%;
  color: #2d5b61;
  cursor: default;
}

.active {
  color: #2d5b61;
  cursor: default;
}
.current-weather-icon {
  font-size: 72px;
}

.city {
  text-align: left;
}

.day-time {
  text-align: left;
}

.mini-icon {
  font-size: 32px;
}
